<%- include('./partials/header.ejs'); %>

        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="py-0">
          <div class="container-small">
            <div class="scrollbar">
              <div class="d-flex justify-content-between"><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2 bg-warning-100 light"><span class="fs-4 uil uil-star text-warning"></span></div>
                  <p class="nav-label">Deals</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-shopping-bag"></span></div>
                  <p class="nav-label">Grocery</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-watch-alt"></span></div>
                  <p class="nav-label">Fashion</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-mobile-android"></span></div>
                  <p class="nav-label">Mobile</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-monitor"></span></div>
                  <p class="nav-label">Electronics</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-estate"></span></div>
                  <p class="nav-label">Home</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-lamp"></span></div>
                  <p class="nav-label">Dining</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-gift"></span></div>
                  <p class="nav-label">Gifts</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-wrench"></span></div>
                  <p class="nav-label">Tools</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-plane-departure"></span></div>
                  
                  <p class="nav-label">Travel</p>
                </a><a class="icon-nav-item" href="#!">
                  <div class="icon-container mb-2"><span class="fs-4 uil uil-palette"></span></div>
                  <p class="nav-label">Others</p>
                </a></div>
            </div>
          </div><!-- end of .container-->
        </section><!-- <section> close ============================-->
        <!-- ============================================-->



<br>





<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
      <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="container">
         
        <div class="col-12">
          <div class="whooping-banner w-100 rounded-3 overflow-hidden">
            <div class="bg-holder z-index--1 product-bg" style="background-image:url(../../../assets/img/e-commerce/whooping_banner_product.png);background-position: bottom right;"></div>
            <!--/.bg-holder-->
            <div class="bg-holder z-index--1 shape-bg" style="background-image:url(../../../assets/img/e-commerce/whooping_banner_shape_2.png);background-position: bottom left;"></div>
            <!--/.bg-holder-->
            <div class="banner-text light">
              <h2 class="text-warning-300 fw-bolder fs-lg-5 fs-xxl-6">Whooping <span class="gradient-text">60% </span>Off</h2>
              <h3 class="fw-bolder fs-lg-3 fs-xxl-5 text-white light">on everyday items</h3>
            </div><a class="btn btn-lg btn-primary rounded-pill banner-button" href="#!">Shop Now</a>
          </div>
        </div>

      </div>
  </div>


     <div class="carousel-item">
          <div class="container">
             
            <div class="col-12">
              <div class="whooping-banner w-100 rounded-3 overflow-hidden">
                <div class="bg-holder z-index--1 product-bg" style="background-image:url(../../../assets/img/e-commerce/whooping_banner_product.png);background-position: bottom right;"></div>
                <!--/.bg-holder-->
                <div class="bg-holder z-index--1 shape-bg" style="background-image:url(../../../assets/img/e-commerce/whooping_banner_shape_2.png);background-position: bottom left;"></div>
                <!--/.bg-holder-->
                <div class="banner-text light">
                  <h2 class="text-warning-300 fw-bolder fs-lg-5 fs-xxl-6">Whooping <span class="gradient-text">60% </span>Off</h2>
                  <h3 class="fw-bolder fs-lg-3 fs-xxl-5 text-white light">on everyday items</h3>
                </div><a class="btn btn-lg btn-primary rounded-pill banner-button" href="#!">Shop Now</a>
              </div>
            </div>

          </div>
      </div>


      <div class="carousel-item">
          <div class="container">
             
            <div class="col-12">
              <div class="whooping-banner w-100 rounded-3 overflow-hidden">
                <div class="bg-holder z-index--1 product-bg" style="background-image:url(../../../assets/img/e-commerce/whooping_banner_product.png);background-position: bottom right;"></div>
                <!--/.bg-holder-->
                <div class="bg-holder z-index--1 shape-bg" style="background-image:url(../../../assets/img/e-commerce/whooping_banner_shape_2.png);background-position: bottom left;"></div>
                <!--/.bg-holder-->
                <div class="banner-text light">
                  <h2 class="text-warning-300 fw-bolder fs-lg-5 fs-xxl-6">Whooping <span class="gradient-text">60% </span>Off</h2>
                  <h3 class="fw-bolder fs-lg-3 fs-xxl-5 text-white light">on everyday items</h3>
                </div><a class="btn btn-lg btn-primary rounded-pill banner-button" href="#!">Shop Now</a>
              </div>
            </div>

          </div>
      </div>


  </div>
  <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
      <i class="fas fa-chevron-left"></i>
  </a>
  <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
      <i class="fas fa-chevron-right"></i>
  </a>
</div>
<!-- End Banner Hero -->

<br><br>








 <!-- Start Categories of The Month -->
 <section class="py-0 px-xl-3">
          
  <div class="container px-xl-0 px-xxl-3">
  
  
   
  <div class="mb-6">
    <div class="d-flex flex-between-center mb-3">
      <h3>Categories of the Month</h3>
      <a class="fw-bold d-none d-md-block" href="#!">Explore more<span class="fas fa-chevron-right fs--1 ms-1"></span></a>
    </div>

    <div class="swiper-theme-container products-slider">
      <div class="swiper swiper-container theme-slider" data-swiper='{"slidesPerView":1,"spaceBetween":16,"breakpoints":{"450":{"slidesPerView":2,"spaceBetween":16},"576":{"slidesPerView":3,"spaceBetween":20},"768":{"slidesPerView":4,"spaceBetween":20},"992":{"slidesPerView":5,"spaceBetween":20},"1200":{"slidesPerView":6,"spaceBetween":16}}}'>
        <div class="swiper-wrapper">


          <div class="swiper-slide">

            <div class="position-relative text-decoration-none product-card h-100">
              <div class="d-flex flex-column justify-content-between h-100">
                
                  <a href="#"><img src="../../../assets/img/products/1.png" class=" img-fluid "></a>
                  <h5 class="text-center mt-3 mb-3">Watches</h5>
                  <p class="text-center"><a class="btn btn-primary">Go Shop</a></p>
              
              </div>
            </div>

          </div>




          <div class="swiper-slide">

            <div class="position-relative text-decoration-none product-card h-100">
              <div class="d-flex flex-column justify-content-between h-100">
                
                  <a href="#"><img src="../../../assets/img/products/1.png" class=" img-fluid "></a>
                  <h5 class="text-center mt-3 mb-3">Watches</h5>
                  <p class="text-center"><a class="btn btn-primary">Go Shop</a></p>
              
              </div>
            </div>

          </div>


       <div class="swiper-slide">

            <div class="position-relative text-decoration-none product-card h-100">
              <div class="d-flex flex-column justify-content-between h-100">
                
                  <a href="#"><img src="../../../assets/img/products/1.png" class=" img-fluid "></a>
                  <h5 class="text-center mt-3 mb-3">Watches</h5>
                  <p class="text-center"><a class="btn btn-primary">Go Shop</a></p>
              
              </div>
            </div>

          </div>



          <div class="swiper-slide">

            <div class="position-relative text-decoration-none product-card h-100">
              <div class="d-flex flex-column justify-content-between h-100">
                
                  <a href="#"><img src="../../../assets/img/products/1.png" class=" img-fluid "></a>
                  <h5 class="text-center mt-3 mb-3">Watches</h5>
                  <p class="text-center"><a class="btn btn-primary">Go Shop</a></p>
              
              </div>
            </div>

          </div>

<!--    
          <div class="swiper-slide">

            <div class="position-relative text-decoration-none product-card h-100">
              <div class="d-flex flex-column justify-content-between h-100">
                
                  <a href="#"><img src="../../../assets/img/products/1.png" class=" img-fluid "></a>
                  <h5 class="text-center mt-3 mb-3">Watches</h5>
                  <p class="text-center"><a class="btn btn-primary">Go Shop</a></p>
              
              </div>
            </div>

          </div>



          <div class="swiper-slide">

            <div class="position-relative text-decoration-none product-card h-100">
              <div class="d-flex flex-column justify-content-between h-100">
                
                  <a href="#"><img src="../../../assets/img/products/1.png" class=" img-fluid "></a>
                  <h5 class="text-center mt-3 mb-3">Watches</h5>
                  <p class="text-center"><a class="btn btn-primary">Go Shop</a></p>
              
              </div>
            </div>

          </div>


          <div class="swiper-slide">

            <div class="position-relative text-decoration-none product-card h-100">
              <div class="d-flex flex-column justify-content-between h-100">
                
                  <a href="#"><img src="../../../assets/img/products/1.png" class=" img-fluid "></a>
                  <h5 class="text-center mt-3 mb-3">Watches</h5>
                  <p class="text-center"><a class="btn btn-primary">Go Shop</a></p>
              
              </div>
            </div>

          </div> -->



        </div>
      </div>
      <div class="swiper-nav">
        <div class="swiper-button-next"><span class="fas fa-chevron-right nav-icon"></span></div>
        <div class="swiper-button-prev"><span class="fas fa-chevron-left nav-icon"></span></div>
      </div>
    </div><a class="fw-bold d-md-none" href="#!">Explore more<span class="fas fa-chevron-right fs--1 ms-1"></span></a>
  </div>


  </div>
 </section>
  






        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="py-0 px-xl-3">
          
          <div class="container px-xl-0 px-xxl-3">


            
            <div class="mb-6">
              <div class="d-flex flex-between-center mb-3">
                <h3>Top Products</h3><a class="fw-bold d-none d-md-block" href="#!">Explore more<span class="fas fa-chevron-right fs--1 ms-1"></span></a>
              </div>

              <div class="swiper-theme-container products-slider">
                <div class="swiper swiper-container theme-slider" data-swiper='{"slidesPerView":1,"spaceBetween":16,"breakpoints":{"450":{"slidesPerView":2,"spaceBetween":16},"576":{"slidesPerView":3,"spaceBetween":20},"768":{"slidesPerView":4,"spaceBetween":20},"992":{"slidesPerView":5,"spaceBetween":20},"1200":{"slidesPerView":6,"spaceBetween":16}}}'>
                  <div class="swiper-wrapper">


                    <div class="swiper-slide">
                      <div class="position-relative text-decoration-none product-card h-100">
                        <div class="d-flex flex-column justify-content-between h-100">
                          <div>
                            <div class="border border-1 rounded-3 position-relative mb-3"><button class="btn rounded-circle p-0 d-flex flex-center btn-wish z-index-2 d-toggle-container btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to wishlist"><span class="fas fa-heart d-block-hover"></span><span class="far fa-heart d-none-hover"></span></button><img class="img-fluid" src="../../../assets/img/products/5.png" alt="" /></div><a class="stretched-link" href="/product-detail">
                              <h6 class="mb-2 lh-sm line-clamp-3 product-name">Razer Kraken v3 x Wired 7.1 Surroung Sound Gaming headset</h6>
                            </a>
                            <p class="fs--1"><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="text-500 fw-semi-bold ms-1">(59 people rated)</span></p>
                          </div>
                          <div>
                            <h3 class="text-1100">$59.00</h3>
                            <p class="text-700 fw-semi-bold fs--1 lh-1 mb-0">2 colors</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="swiper-slide">
                      <div class="position-relative text-decoration-none product-card h-100">
                        <div class="d-flex flex-column justify-content-between h-100">
                          <div>
                            <div class="border border-1 rounded-3 position-relative mb-3"><button class="btn rounded-circle p-0 d-flex flex-center btn-wish z-index-2 d-toggle-container btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to wishlist"><span class="fas fa-heart d-block-hover"></span><span class="far fa-heart d-none-hover"></span></button><img class="img-fluid" src="../../../assets/img/products/5.png" alt="" /></div><a class="stretched-link" href="/product-detail">
                              <h6 class="mb-2 lh-sm line-clamp-3 product-name">Razer Kraken v3 x Wired 7.1 Surroung Sound Gaming headset</h6>
                            </a>
                            <p class="fs--1"><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="text-500 fw-semi-bold ms-1">(59 people rated)</span></p>
                          </div>
                          <div>
                            <h3 class="text-1100">$59.00</h3>
                            <p class="text-700 fw-semi-bold fs--1 lh-1 mb-0">2 colors</p>
                          </div>
                        </div>
                      </div>
                    </div>

                     <div class="swiper-slide">
                      <div class="position-relative text-decoration-none product-card h-100">
                        <div class="d-flex flex-column justify-content-between h-100">
                          <div>
                            <div class="border border-1 rounded-3 position-relative mb-3"><button class="btn rounded-circle p-0 d-flex flex-center btn-wish z-index-2 d-toggle-container btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to wishlist"><span class="fas fa-heart d-block-hover"></span><span class="far fa-heart d-none-hover"></span></button><img class="img-fluid" src="../../../assets/img/products/5.png" alt="" /></div><a class="stretched-link" href="/product-detail">
                              <h6 class="mb-2 lh-sm line-clamp-3 product-name">Razer Kraken v3 x Wired 7.1 Surroung Sound Gaming headset</h6>
                            </a>
                            <p class="fs--1"><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="text-500 fw-semi-bold ms-1">(59 people rated)</span></p>
                          </div>
                          <div>
                            <h3 class="text-1100">$59.00</h3>
                            <p class="text-700 fw-semi-bold fs--1 lh-1 mb-0">2 colors</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="swiper-slide">
                      <div class="position-relative text-decoration-none product-card h-100">
                        <div class="d-flex flex-column justify-content-between h-100">
                          <div>
                            <div class="border border-1 rounded-3 position-relative mb-3"><button class="btn rounded-circle p-0 d-flex flex-center btn-wish z-index-2 d-toggle-container btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to wishlist"><span class="fas fa-heart d-block-hover"></span><span class="far fa-heart d-none-hover"></span></button><img class="img-fluid" src="../../../assets/img/products/5.png" alt="" /></div><a class="stretched-link" href="/product-detail">
                              <h6 class="mb-2 lh-sm line-clamp-3 product-name">Razer Kraken v3 x Wired 7.1 Surroung Sound Gaming headset</h6>
                            </a>
                            <p class="fs--1"><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="text-500 fw-semi-bold ms-1">(59 people rated)</span></p>
                          </div>
                          <div>
                            <h3 class="text-1100">$59.00</h3>
                            <p class="text-700 fw-semi-bold fs--1 lh-1 mb-0">2 colors</p>
                          </div>
                        </div>
                      </div>
                    </div>

                     <div class="swiper-slide">
                      <div class="position-relative text-decoration-none product-card h-100">
                        <div class="d-flex flex-column justify-content-between h-100">
                          <div>
                            <div class="border border-1 rounded-3 position-relative mb-3"><button class="btn rounded-circle p-0 d-flex flex-center btn-wish z-index-2 d-toggle-container btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to wishlist"><span class="fas fa-heart d-block-hover"></span><span class="far fa-heart d-none-hover"></span></button><img class="img-fluid" src="../../../assets/img/products/5.png" alt="" /></div><a class="stretched-link" href="/product-detail">
                              <h6 class="mb-2 lh-sm line-clamp-3 product-name">Razer Kraken v3 x Wired 7.1 Surroung Sound Gaming headset</h6>
                            </a>
                            <p class="fs--1"><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="text-500 fw-semi-bold ms-1">(59 people rated)</span></p>
                          </div>
                          <div>
                            <h3 class="text-1100">$59.00</h3>
                            <p class="text-700 fw-semi-bold fs--1 lh-1 mb-0">2 colors</p>
                          </div>
                        </div>
                      </div>
                    </div>

                     <div class="swiper-slide">
                      <div class="position-relative text-decoration-none product-card h-100">
                        <div class="d-flex flex-column justify-content-between h-100">
                          <div>
                            <div class="border border-1 rounded-3 position-relative mb-3"><button class="btn rounded-circle p-0 d-flex flex-center btn-wish z-index-2 d-toggle-container btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to wishlist"><span class="fas fa-heart d-block-hover"></span><span class="far fa-heart d-none-hover"></span></button><img class="img-fluid" src="../../../assets/img/products/5.png" alt="" /></div><a class="stretched-link" href="/product-detail">
                              <h6 class="mb-2 lh-sm line-clamp-3 product-name">Razer Kraken v3 x Wired 7.1 Surroung Sound Gaming headset</h6>
                            </a>
                            <p class="fs--1"><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="text-500 fw-semi-bold ms-1">(59 people rated)</span></p>
                          </div>
                          <div>
                            <h3 class="text-1100">$59.00</h3>
                            <p class="text-700 fw-semi-bold fs--1 lh-1 mb-0">2 colors</p>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="swiper-slide">
                      <div class="position-relative text-decoration-none product-card h-100">
                        <div class="d-flex flex-column justify-content-between h-100">
                          <div>
                            <div class="border border-1 rounded-3 position-relative mb-3"><button class="btn rounded-circle p-0 d-flex flex-center btn-wish z-index-2 d-toggle-container btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to wishlist"><span class="fas fa-heart d-block-hover"></span><span class="far fa-heart d-none-hover"></span></button><img class="img-fluid" src="../../../assets/img/products/5.png" alt="" /></div><a class="stretched-link" href="/product-detail">
                              <h6 class="mb-2 lh-sm line-clamp-3 product-name">Razer Kraken v3 x Wired 7.1 Surroung Sound Gaming headset</h6>
                            </a>
                            <p class="fs--1"><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="text-500 fw-semi-bold ms-1">(59 people rated)</span></p>
                          </div>
                          <div>
                            <h3 class="text-1100">$59.00</h3>
                            <p class="text-700 fw-semi-bold fs--1 lh-1 mb-0">2 colors</p>
                          </div>
                        </div>
                      </div>
                    </div>

                    
                <div class="swiper-nav">
                  <div class="swiper-button-next"><span class="fas fa-chevron-right nav-icon"></span></div>
                  <div class="swiper-button-prev"><span class="fas fa-chevron-left nav-icon"></span></div>
                </div>
              </div><a class="fw-bold d-md-none" href="#!">Explore more<span class="fas fa-chevron-right fs--1 ms-1"></span></a>
            </div>



            <!-- <div class="mb-6">
              <div class="d-flex flex-between-center mb-3">
                <h3>Best Offers</h3><a class="fw-bold d-none d-md-block" href="#!">Explore more<span class="fas fa-chevron-right fs--1 ms-1"></span></a>
              </div>
              <div class="swiper-theme-container products-slider">
                <div class="swiper swiper-container theme-slider" data-swiper='{"slidesPerView":1,"spaceBetween":16,"breakpoints":{"450":{"slidesPerView":2,"spaceBetween":16},"576":{"slidesPerView":3,"spaceBetween":20},"768":{"slidesPerView":4,"spaceBetween":20},"992":{"slidesPerView":5,"spaceBetween":20},"1200":{"slidesPerView":6,"spaceBetween":16}}}'>
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="position-relative text-decoration-none product-card h-100">
                        <div class="d-flex flex-column justify-content-between h-100">
                          <div>
                            <div class="border border-1 rounded-3 position-relative mb-3"><button class="btn rounded-circle p-0 d-flex flex-center btn-wish z-index-2 d-toggle-container btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to wishlist"><span class="fas fa-heart d-block-hover"></span><span class="far fa-heart d-none-hover"></span></button><img class="img-fluid" src="../../../assets/img/products/25.png" alt="" /></div><a class="stretched-link" href="../../../apps/e-commerce/landing/product-details.html">
                              <h6 class="mb-2 lh-sm line-clamp-3 product-name">RESPAWN 200 Racing Style Gaming Chair, in Gray RSP 200 GRY</h6>
                            </a>
                            <p class="fs--1"><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span></p>
                          </div>
                          <div>
                            <h6 class="text-success lh-1 mb-0">35% off</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="position-relative text-decoration-none product-card h-100">
                        <div class="d-flex flex-column justify-content-between h-100">
                          <div>
                            <div class="border border-1 rounded-3 position-relative mb-3"><button class="btn rounded-circle p-0 d-flex flex-center btn-wish z-index-2 d-toggle-container btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to wishlist"><span class="fas fa-heart d-block-hover"></span><span class="far fa-heart d-none-hover"></span></button><img class="img-fluid" src="../../../assets/img/products/27.png" alt="" /></div><a class="stretched-link" href="../../../apps/e-commerce/landing/product-details.html">
                              <h6 class="mb-2 lh-sm line-clamp-3 product-name">LEVOIT Humidifiers for Bedroom Large Room 6L Warm and Cool Mist for...</h6>
                            </a>
                            <p class="fs--1"><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa-regular fa-star text-warning-300"></span></p>
                          </div>
                          <div>
                            <h6 class="text-success lh-1 mb-0">18% off</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="position-relative text-decoration-none product-card h-100">
                        <div class="d-flex flex-column justify-content-between h-100">
                          <div>
                            <div class="border border-1 rounded-3 position-relative mb-3"><button class="btn rounded-circle p-0 d-flex flex-center btn-wish z-index-2 d-toggle-container btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to wishlist"><span class="fas fa-heart d-block-hover"></span><span class="far fa-heart d-none-hover"></span></button><img class="img-fluid" src="../../../assets/img/products/26.png" alt="" /></div><a class="stretched-link" href="../../../apps/e-commerce/landing/product-details.html">
                              <h6 class="mb-2 lh-sm line-clamp-3 product-name">NETGEAR Nighthawk Pro Gaming XR500 Wi-Fi Router with 4 Ethernet Ports...</h6>
                            </a>
                            <p class="fs--1"><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span></p>
                          </div>
                          <div>
                            <h6 class="text-success lh-1 mb-0">15% off</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="position-relative text-decoration-none product-card h-100">
                        <div class="d-flex flex-column justify-content-between h-100">
                          <div>
                            <div class="border border-1 rounded-3 position-relative mb-3"><button class="btn rounded-circle p-0 d-flex flex-center btn-wish z-index-2 d-toggle-container btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to wishlist"><span class="fas fa-heart d-block-hover"></span><span class="far fa-heart d-none-hover"></span></button><img class="img-fluid" src="../../../assets/img/products/18.png" alt="" /></div><a class="stretched-link" href="../../../apps/e-commerce/landing/product-details.html">
                              <h6 class="mb-2 lh-sm line-clamp-3 product-name">Rachael Ray Cucina Bakeware Set Includes Nonstick Bread Baking Cookie Sheet...</h6>
                            </a>
                            <p class="fs--1"><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star-half-alt star-icon text-warning"></span><span class="fa-regular fa-star text-warning-300"></span></p>
                          </div>
                          <div>
                            <h6 class="text-success lh-1 mb-0">20% off</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="position-relative text-decoration-none product-card h-100">
                        <div class="d-flex flex-column justify-content-between h-100">
                          <div>
                            <div class="border border-1 rounded-3 position-relative mb-3"><button class="btn rounded-circle p-0 d-flex flex-center btn-wish z-index-2 d-toggle-container btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to wishlist"><span class="fas fa-heart d-block-hover"></span><span class="far fa-heart d-none-hover"></span></button><img class="img-fluid" src="../../../assets/img/products/17.png" alt="" /></div><a class="stretched-link" href="../../../apps/e-commerce/landing/product-details.html">
                              <h6 class="mb-2 lh-sm line-clamp-3 product-name">Xbox Series S</h6>
                            </a>
                            <p class="fs--1"><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span></p>
                          </div>
                          <div>
                            <h6 class="text-success lh-1 mb-0">12% off</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="position-relative text-decoration-none product-card h-100">
                        <div class="d-flex flex-column justify-content-between h-100">
                          <div>
                            <div class="border border-1 rounded-3 position-relative mb-3"><button class="btn rounded-circle p-0 d-flex flex-center btn-wish z-index-2 d-toggle-container btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to wishlist"><span class="fas fa-heart d-block-hover"></span><span class="far fa-heart d-none-hover"></span></button><img class="img-fluid" src="../../../assets/img/products/24.png" alt="" /></div><a class="stretched-link" href="../../../apps/e-commerce/landing/product-details.html">
                              <h6 class="mb-2 lh-sm line-clamp-3 product-name">FURINNO Computer Writing Desk, Walnut</h6>
                            </a>
                            <p class="fs--1"><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span></p>
                          </div>
                          <div>
                            <h6 class="text-success lh-1 mb-0">16% off</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="position-relative text-decoration-none product-card h-100">
                        <div class="d-flex flex-column justify-content-between h-100">
                          <div>
                            <div class="border border-1 rounded-3 position-relative mb-3"><button class="btn rounded-circle p-0 d-flex flex-center btn-wish z-index-2 d-toggle-container btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Add to wishlist"><span class="fas fa-heart d-block-hover"></span><span class="far fa-heart d-none-hover"></span></button><img class="img-fluid" src="../../../assets/img/products/18.png" alt="" /></div><a class="stretched-link" href="../../../apps/e-commerce/landing/product-details.html">
                              <h6 class="mb-2 lh-sm line-clamp-3 product-name">Seagate Portable 2TB External Hard Drive Portable HDD</h6>
                            </a>
                            <p class="fs--1"><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa-regular fa-star text-warning-300"></span></p>
                          </div>
                          <div>
                            <h6 class="text-success lh-1 mb-0">15% off</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-nav">
                  <div class="swiper-button-next"><span class="fas fa-chevron-right nav-icon"></span></div>
                  <div class="swiper-button-prev"><span class="fas fa-chevron-left nav-icon"></span></div>
                </div>
              </div><a class="fw-bold d-md-none" href="#!">Explore more<span class="fas fa-chevron-right fs--1 ms-1"></span></a>
            </div> -->
            <div class="row flex-center mb-15 mt-11 gy-6">
              <div class="col-auto"><img class="d-dark-none" src="../../../assets/img/spot-illustrations/37.png" alt="" width="305" /><img class="d-light-none" src="../../../assets/img/spot-illustrations/37_2.png" alt="" width="305" /></div>
              <div class="col-auto">
                <div class="text-center text-lg-start">
                  <h3 class="text-1000 mb-2"><span class="fw-semi-bold">Enjoy our </span>exclusive benefits and ultimate <br class="d-md-none" />customer experience.</h3>
                  <h1 class="display-3 fw-semi-bold mb-4">Welcome to our <span class="text-primary fw-bolder">Community </span>😊!</h1><a class="btn btn-lg btn-primary px-7" href="/product">Explore all<span class="fas fa-chevron-right ms-2 fs--1"></span></a>
                </div>
              </div>
            </div>
          </div><!-- end of .container-->
        </section><!-- <section> close ============================-->
        <!-- ============================================-->
          
          
      </div>





















      
     




      <%- include('./partials/footer.ejs'); %>